/* RESPONSIVE LETRA DEL FOOTER */
@media (max-width: 1200px) {
    footer {
        font-size: 18px; /* Tamaño de fuente máximo para pantallas de hasta 1200px */
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 16px; /* Tamaño de fuente máximo para pantallas de hasta 768px */
    }
}

@media (max-width: 576px) {
    footer {
        font-size: 10px; /* Tamaño de fuente máximo para pantallas de hasta 576px */
    }
}
/* ESTRUCTURA */
body {
    background-image: url('../media/images/patoFondo.png'); /* Ruta a la imagen de fondo */
}

header {
    height: 100%;
}

.row-description {
    margin-bottom: 10%;
}

.colum-img {
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.col-description {
    color:#666;
    margin-bottom: 8%;
}

.col-description > h2 {
    text-shadow: 3px 0px 8px #000000;
}

main {
    margin-bottom: 100px;
}
/* TABLAS Y FORMULARIO */
legend {
    background-color: #666;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px;
    background: red;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #666;
    color: white;
}
tr:nth-child(even) {
    background-color: #ddd;
}
tr:nth-child(odd) {
    background-color: #fff;
}

.list-group-item {
    background-color: #f2f2f2;
    margin: 1%;
    border: none;
    color:#666;
    text-shadow: 3px 0px 8px #000000;
    font-size: 30px;
}

.list-group-item:hover {
    color: red;
}


/* FOOTER */
footer {
    background-color: lightgray;
    height: 10%;
    width: 100%;
    padding-top: 2%;
}

.footer-item {
    width: 33.33%;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.carousel {
    width: 1000px;
    height: 600px;
    position: relative;
    outline: 1px solid black;
    overflow: hidden;
}

.fotos {
    display: flex;
    width: 2400px;
    position: relative;
    transition: all 1s ease;
}

.carousel a{
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    left: 300px;
    bottom: 20%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: mediumspringgreen;
    z-index: 10;
}

.carousel a:nth-child(2){
    left: 350px;
}
.carousel a:nth-child(3){
    left: 400px;
}
.carousel a:nth-child(4){
    left: 450px;
}
.carousel a:nth-child(5){
    left: 500px;
}
.carousel a:nth-child(6){
    left: 550px;
}
.carousel a:nth-child(7){
    left: 600px;
}
.carousel a:nth-child(8){
    left: 650px;
}
.carousel a:nth-child(9){
    left: 700px;
}
.carousel a:focus-within {
    background: brown;
}

.carousel a:nth-child(2):focus-within ~ .fotos {
    transform: translateX(-1000px);
}
.carousel a:nth-child(3):focus-within ~ .fotos {
    transform: translateX(-2000px);
}
.carousel a:nth-child(4):focus-within ~ .fotos {
    transform: translateX(-3000px);
}
.carousel a:nth-child(5):focus-within ~ .fotos {
    transform: translateX(-4000px);
}
.carousel a:nth-child(6):focus-within ~ .fotos {
    transform: translateX(-5000px);
}
.carousel a:nth-child(7):focus-within ~ .fotos {
    transform: translateX(-6000px);
}
.carousel a:nth-child(8):focus-within ~ .fotos {
    transform: translateX(-7000px);
}
.carousel a:nth-child(9):focus-within ~ .fotos {
    transform: translateX(-8000px);
}
.logos {
    width: 50px;
    height: auto;
}
.card-text{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
